/*------------------TAG SELECTORS------------------*/
body{
    margin: 0;
    text-align: center;
    color: #FCF8E8;
    font-family: 'Roboto',sans-serif;
}
    a{
        color: rgb(204, 204, 204);
        font-style: 'Roboto';
        text-decoration: none;
    }
    h1{
        color: #DCD7C9;
        font-size: 3.75rem;
        margin: 3.125rem auto 0 auto;
        font-family: 'Roboto Slab',serif;
        line-height: 2; 
    }

    h2{
        color: #DCD7C9;
        font-family: 'Roboto',sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
    }

    h3{
        color: #A27B5C;
    }

    hr{
        border-color: #A27B5C;
        border-style: dotted none none;
        border-width: 6px;
        width: 5%;
        margin: 100px auto;
    }

    p{
        line-height: 2;
    }
/*------------------.CLASS SELECTORS------------------*/

.top-container{
    background-color: #2C3639;
    position: relative;
    padding-top: 6.25rem;
}


    .top-cloud{
        position: absolute;
        right: 300px;
        top: 50px;
    }



    .bottom-cloud{
        position: absolute;
        left: 300px;
        bottom: 300px;

    }

.middle-container{
  background-color: #3F4E4F;
  padding: 50px 0;
}

    .welcome-text{
        width: 30%;
        margin: 20px auto 50px auto;
    }

    .pphoto{
        width: 15%;
        margin-top: 30px;
    }

    .skill-row{
        text-align: justify;
        width: 50%;
        margin: 100px auto 100px auto;
    }

        .cphoto{
            width: 25%;
            float: left;
            margin-right: 30px;  
        }

        .gphoto{
            width: 25%; 
            float: right; 
            margin-left: 30px;    
        }
        
        .mensagem{
            margin: 40px auto 60px;
        }

        .btn {
            background: #A27B5C;
            background-image: linear-gradient(to bottom, #A27B5C, #DCD7C9);
            border-radius: 28px;
            font-family: 'Roboto';
            color: #FCFFE7;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }
        
        .btn:hover {
            background: #DCD7C9;
            background-image: linear-gradient(to bottom, #DCD7C9, #A27B5C);
            text-decoration: none;
        }

.bottom-container{
    background-color: #A27B5C;
    padding: 50px 0 10px;
}

    .footer-link{
        color: #361500;
        margin: 10px 20px;
        text-decoration: none;

    }

    .footer-link:hover{
        color: rgb(155, 59, 4);
    }

    .copyright{
        color: #EAF6F6;
        line-height: 1;
        font-family: 'Roboto Slab',serif;
        font-size: 0.75rem;
        margin-bottom: 0;
        padding: 20px 0 0;
    }

/*------------------#ID SELECTORS------------------*/